@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  background-color:black;
  width:100vw;
  height:calc(100vh - 40px);
  position: relative;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {	
  font-weight: 400;
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow:1px 1px 20px rgba(0,0,0,0.3);
}

/*svg {
  position:absolute;
  height:0;
  width:0;
  overflow:hidden;
}*/

.background { 
  background-size:cover;
  background-position:center;
  background-color:black;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
  opacity:0.8;
  width:100vw;
  height:100%;
  position:absolute;
  z-index:-1;
  overflow:hidden;
}

.container {
  width:100vw;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  z-index:2;
  flex-direction: column;
  box-shadow: 0 0 400px 70px rgba(0,0,0,1) inset;
}

.time {
	z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 2rem;
  color: white;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
}

.image {
  box-shadow:1px 1px 20px rgba(0,0,0,0.3);
}


/* controls */

.controls {
  position:absolute;
  bottom:1rem;
  width:100%;
  z-index:100;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

.button {
  width:4rem;
  height:4rem;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:1rem;
  background-color:rgba(0,0,0,0.2);
  transition:0.5s;
  color:white;
}


.button:hover {
  transform:scale(1.2);
  transition:.1s;
  cursor:pointer;
}

.button:active {
  transform:scale(.9);
  transition:.2s;
}

/*timeline*/

.timeline {
  position:absolute;
  bottom:0;
  width:100%;
  height:.5rem;
}

.timeline-bar {
  background-color:rgba(193, 193, 193, 0.75);
  height:100%;
  z-index:1000;
  position:relative;  
}

/* refresh */
.refresh {
  position:absolute;
  top:0;
  left:0;
  z-index: 1000;
}


.button.small {
  width:3rem;
  height:3rem;
}

.button.active {
  background-color:rgba(0,0,0,0.6);
}


.play-this {
  position:relative;
  display:flex;
  align-items:center;
}

.play-this .play-button {
  display:flex;
  opacity:1;
  right:0;
  margin:auto;
  width:1.5rem;
  height:1.5rem;
  margin-left: .5rem;
  margin-top:4px;
  margin-bottom:0px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgba(0,0,0,0.2);
  color:white;
  font-size:.5rem;
  transition:.2s;
  cursor:pointer;
}